#Primary{
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
/*
.hero{
    background-color: #333;
    background-image: url(/images/pic1.png);
    background-blend-mode: multiply;
    background-attachment: fixed;
    background-size: cover;
    padding: 60vh 3em;
}
*/

.introduction img{
    padding:0;
    width: 80vh;    
}

.title{
    position: relative;
    width: 200px;
    border-bottom: 2px solid ;
}

.thumbnails{
    padding: 20px;
    display: grid;
    grid-auto-columns:300px;
    grid-auto-rows: 50px 300px 300px 300px;
    grid-template-areas: "a a a a";
    gap: 15px;
    overflow: auto;
}

.screenshots1 img{  
    width: 300px;
}
.screenshots1{
    display: grid;
    grid-row-start: 2;
}

.screenshots2{
    display: grid;
    grid-row-start: 2;
    grid-column-start: 2;
}

.screenshots2 img{
    width: 300px;
}
.Css{
    display: grid;
    grid-row-start: 3;
}

.welcome{
    background-image: url(/images/Beach.JPG);
    background-attachment: fixed;
    background-blend-mode: multiply;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 30vh 1em;
    background-position-x: center;
    background-position-y: center;
    background-size: cover;
}

.welcome h1{
    text-align: center;
    color: aliceblue;
    font-size: 60px;
    background-color: #333 transparent;
    background-blend-mode: multiply;
    
}
@media (max-width: 920px) {
    .welcome h1{
        
        font-size: 55px;
        
        
    }
}