#Primary{
   font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size:30px;
    text-align: center;
}

#Primary h1{
    text-align: center;
    color: aliceblue;
    font-size: 80px;
    text-transform: uppercase;
    text-shadow: black 5px 5px;
    

}
#Primary p{
   
    font-weight: 30;
}

.discription{
    margin: 10px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   
   
}
.siteTitle{
    height: 60vh;
    background:linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
}

.links{
    margin: 20px;
    display: grid;
    grid-auto-columns: auto auto auto;
    grid-template-areas: "a a a";
    gap: 20px;
}

.links img{
    width:400px;
}

@media (max-width: 920px) {

.links{
    margin: 20px;
    display: grid;
    grid-auto-columns: auto;
    grid-template-areas: "a a a";
    gap: 20px;
    overflow: auto;
}
.links img{
    width:280px;
}


.siteTitle{
    height: 50vh;
    background:linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
}

  }
